extends layout



mixin content_panel(id_text, title, text, id_image, image_src)
    div.landingPanel.d-flex-r
        div(id=id_text, class="landingPanelText")
            h2(class="title") #{title}
            p(class="text") #{text}
        div(class="landingPanelImage")
            image(id=id_image, src=image_src)
    
block content
    -let cp = content_panels
    -let lp = landing_panel
    if (lp && cp)
        div#content_wrapper.d-flex-c.navbar_color
            div.backgroundLanding.d-flex-c
                h2#landingTitle #{lp.title_text}
                p#landingText.description #{lp.description}
            div#rootPanelContent.d-flex-c
                each i in cp
                    +content_panel(i.id_text, i.title, i.text, i.id_image, i.image_src)
    