extends layout



mixin content_panel_text_image(id_text, title, text, id_image, image_src)
    div.landingPanel.d-flex-r
        div(id=id_text, class="landingPanelText")
            h2(class="title") #{title}
            p(class="text") #{text}
        div(class="landingPanelImageContainer")
            image(id=id_image, src=image_src, class="landingPanelImage")

mixin feature_panel(feature, description)
    div.featuresGrid
        .featureTitle #{feature}
        div#featureText #{description}

    
block content
    -let lp = landing_panel
    -let cp = content_panel
    div.belowNavbarWrapper
        div#content_wrapper.d-flex-c.navbar_color
            div.backgroundLanding.d-flex-c
                h2#landingTitle #{lp.title_text}
                p#landingText.description #{lp.description}
            div#rootPanelContent.d-flex-c.mt-1
                div(id=id_text, class="landingPanelText")
                    .transitionPadding
                    .contentContainerLanding
                        div.titlePanel.ml-1
                            h4.title.mt-1 Usage:
                        div.descriptionPanel.usage Search for a company by its symbol/ticker ex: "CEI" (no double quotes). Check dilutionscout.com/indexed_tickers for indexed tickers. Support for search by CIK and company name is planned, but not a priority. Currently supported Tickers are limited, since parsing of sec filings is still a WIP.
                    .transitionPadding
                    .contentContainerLanding
                        h4.title Features:
                        .d-flex-c
                            each val, key in cp["features"]
                                +feature_panel(key, val)
                    .transitionPadding
                    .contentContainerLanding
                        h4.title Projects contained in this site:
                        .gridContainerLandingAllItemsProject
                            .gridContainerLandingSingleItem
                                div.titlePanel.ml-1
                                    h5.panelTitle.mt-1.mb-1 dilution-scout
                                div.descriptionPanel
                                    span.descriptionPanel The code of this website. Frontend: JavasScript, PUG and CSS. Backend: node.js with express.
                                    a(href="https://github.com/Camelket/dilution_scout") Github
                            .gridContainerLandingSingleItem
                                iv.titlePanel.ml-1
                                    h5.panelTitle.mt-1.mb-1 pysec-downloader
                                div.descriptionPanel
                                    span.descriptionPanel Downloader for the SEC website, written in Python. Most filing types supported, most of the xbrl api wrapped, creates an index of the downloaded files for each company. First pypi package.
                                    a(href="https://github.com/Camelket/pysec_downloader") Github
                            .gridContainerLandingSingleItem
                                iv.titlePanel.ml-1
                                    h5.panelTitle.mt-1.mb-1 sec-scraping
                                div.descriptionPanel
                                    span.descriptionPanel Does the data accumulation and processing which feeds the database of dilution-scout, written in Python. The Database is PostgreSQL. Most data used is directly from the SEC website/archives.
                                    a(href="https://github.com/Camelket/sec_scraping") Github
                    .transitionPadding