extends layout



mixin content_panel(id_text, title, text, id_image, image_src)
    div(id=id_text, class=["text_content_panel", "panel"])
        h2(class=["title_content_panel", "title"]) #{title}
        p(class=["text_content_panel", "text_content"]) #{text}
    div(id=id_image, class=["image_content_panel", "panel"])
        image(id=id_image, src=image_src)
    
block content
    -let cp = content_panels
    -let lp = landing_panel
    if (lp && cp)
        div#content_wrapper.d-flex-c.navbar_color
            div#background_landing_1.background_landing.background_image.d-flex-c
                h2#landing_title1.main_title #{lp.title_text}
                p#landing_title_description.landing_description.title_description #{lp.description}
            div#root_panels_div.landing_content_box.d-flex-c
                each i in cp
                    content_panel(i.id_text, i.title, i.text, i.id_image, i.image_src)
    