- var navbarItemsFix = [{id: "homePageButton", href: "/landing", text: "Home"}]
- var navbarItemsNotAuthenticated = [{id: "loginPageButton", href: "/login", text: "Login"}, {id: "registerPageButton", href: "/register", text: "Register new User"}]
- var navbarItemsAuthenticated = [{id: "userPageButton", href: "/user", text: "user"}, {id: "logoutPageButton", href: "/logout", text: "logout"}, {id: "settingsButton", href: "/userSettings", text: "User Settings"}]

//- mixin navbarItem(id, href, text)
//-   a(class=["navbarItem", "navbar_color"] id=id href=href) #{text}

mixin navbarItem(id, href, text)
  li.navbarItem: a(class=["navbarItem",  "navbar_color"] id=id href=href) #{text}

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    script(src="/public/dropdownMenuToggle.js")
      
  body
    div#root.d-flex-c

      block navbar
        div#navbarWrapper.navbar_color.d-flex-r
          div#tickerSearchBar.navbarSection
              //- add action ect
              form#navbarSearchForm
                div.inputGroup.d-flex-r
                  input#tickerSearchInput.formControl(type="search", placeholder="search ticker")
                  div.inputGroupAppend
                    button#searchButton Go

          ul#mainNavbar.navbarSection.d-flex-r
            each val in navbarItemsFix ? navbarItemsFix : []
              +navbarItem(val.id, val.href, val.text)

            if (!isAuthenticated)
              each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                +navbarItem(val.id, val.href, val.text)

            else if (isAuthenticated)
              each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                +navbarItem(val.id, val.href, val.text)
          
          div#dropdownNav.navbarSection
            div.dropdownNavToggle(onclick="toggleMenu()") Menu
              ul#dropdownMedium.dropdownItems.d-flex-c.navbar_color
                each val in navbarItemsFix ? navbarItemsFix : []
                  +navbarItem(val.id, val.href, val.text)
                if (!isAuthenticated)
                  each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                    +navbarItem(val.id, val.href, val.text)
                else if (isAuthenticated)
                  each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                    +navbarItem(val.id, val.href, val.text)

      block content

      block footer


  

