- var navbarItemsFix = [{id: "homePageButton", href: "/landing", text: "Home"}]
- var navbarItemsNotAuthenticated = [{id: "indexedTickers", href: "/indexedTickers", text: "Tracked tickers"}]
//- removed login and register since there are no user features yet
//- [{id: "loginPageButton", href: "/login", text: "Login"}, {id: "registerPageButton", href: "/register", text: "Register new User"}]
- var navbarItemsAuthenticated = [{id: "userPageButton", href: "/user", text: "user"}, {id: "logoutPageButton", href: "/logout", text: "logout"}, {id: "settingsButton", href: "/userSettings", text: "User Settings"}]

//- mixin navbarItem(id, href, text)
//-   a(class=["navbarItem", "navbar_color"] id=id href=href) #{text}

mixin navbarItem(id, href, text)
  a(class=["navbarItem",  "navbar_color"] id=id href=href) #{text}

mixin dropdownItem(id, href, text)
  a(class=["dropdownItem",  "navbar_color"] id=id href=href) #{text}

doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width", initial-scale="1")
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    script(src="/public/scripts/dropdownMenuToggle.js")
      
  body
    div#root.d-flex-c

      block navbar
        div#navbarWrapper.navbar_color.d-flex-r
          .companyLabel
            svg.companyLogo(viewbox="0, -5, 100, 70" preserverAspectRatio="xMinYMin slice"  xmlns="http://www.w3.org/2000/svg" stroke="null")
              g(stroke="null")
                title(stroke="null">Layer 1)
                path.companyLogoPath(id="svg_15" d="m21.62178,61.44773c-7.6879,-2.95927 -13.19833,-12.36231 -11.94603,-20.38479c0.78966,-5.05879 17.44955,-35.76916 18.90449,-34.84802c0.47487,0.30065 4.70064,7.46052 9.39059,15.91084c7.51281,13.53652 8.52718,16.06066 8.52718,21.21889c0,10.45551 -8.16843,19.01977 -17.97633,18.84742c-2.86208,-0.0503 -5.96704,-0.38525 -6.89989,-0.74433l0,0zm7.70241,-5.25874c0.25447,-1.35362 -0.33996,-2.01377 -1.81332,-2.01377c-3.35793,0 -8.01593,-4.35668 -9.0566,-8.47073c-1.11011,-4.38858 -4.0535,-4.91051 -4.48826,-0.79587c-0.83762,7.92744 13.94704,18.78655 15.35817,11.28037l0,0z")
                text.companyLogoText(xml:space="preserve" text-anchor="start" font-family="Noto Sans JP" font-size="50" stroke-width="0" id="svg_17" y="50.99461" x="55.3") ds
          div#tickerSearchBar.navbarSection
              //- add action ect
              form#navbarSearchForm(action="/search/ticker", method="GET")
                div.inputGroup.d-flex-r
                  input#tickerSearchInput.formControl(type="search", placeholder="search ticker", name="tickerSearchInput")
                  div.inputGroupAppend.d-flex-r
                    button#searchButton Go

          ul#mainNavbar.navbarSection.d-flex-r
            each val in navbarItemsFix ? navbarItemsFix : []
              +navbarItem(val.id, val.href, val.text)

            if (!isAuthenticated)
              each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                +navbarItem(val.id, val.href, val.text)

            else if (isAuthenticated)
              each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                +navbarItem(val.id, val.href, val.text)
          
          div#dropdownNav.navbarSection   
            button.dropdownNavToggle.inputGroup(onclick="toggleMenu()")
              svg#hamburger_all(width="1.2rem", height="1rem", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                line.hamburgerMenu.hamburger_top(x1="0" y1="50%" x2="100%" y2="50%")
                line.hamburgerMenu.hamburger_mid(x1="0" y1="50%" x2="100%" y2="50%")
                line.hamburgerMenu.hamburger_bot(x1="0" y1="50%" x2="100%" y2="50%")
      
            
            ul#dropdownMedium.dropdownItems.d-flex-c.navbar_color.hidden
              each val in navbarItemsFix ? navbarItemsFix : []
                +dropdownItem(val.id, val.href, val.text)
              if (!isAuthenticated)
                each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                  +dropdownItem(val.id, val.href, val.text)
              else if (isAuthenticated)
                each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                  +dropdownItem(val.id, val.href, val.text)


    block content

    block footer
      .transitionPadding
      #footerWrapper
        .footerTop
        .footerGrid
          ul.footerSection
            div.footerHeader Contact
            a.footerEntry.discordLink.cur-p(href="https://discord.gg/CzbvKEkj9Z") https://discord.gg/CzbvKEkj9Z
            div.footerEntry.emailAddress camelket.develop@gmail.com
          ul.footerSection 
            div.footerHeader Terms 
            a.footerEntry(href="https://dilutionscout.com/toc") Terms and Conditions
            a.footerEntry(href="https://dilutionscout.com/privacy_policy") Privacy Policy 
            
    script(src="/public/scripts/styleSearchBar.js")


  

