- var navbarItemsFix = [{id: "homePageButton", href: "/landing", text: "Home"}]
- var navbarItemsNotAuthenticated = [{id: "loginPageButton", href: "/login", text: "Login"}, {id: "registerPageButton", href: "/register", text: "Register new User"}]
- var navbarItemsAuthenticated = [{id: "userPageButton", href: "/user", text: "user"}, {id: "logoutPageButton", href: "/logout", text: "logout"}, {id: "settingsButton", href: "/userSettings", text: "User Settings"}]

//- mixin navbarItem(id, href, text)
//-   a(class=["navbarItem", "navbar_color"] id=id href=href) #{text}

mixin navbarItem(id, href, text)
  a(class=["navbarItem",  "navbar_color"] id=id href=href) #{text}

mixin dropdownItem(id, href, text)
  a(class=["dropdownItem",  "navbar_color"] id=id href=href) #{text}

doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width", initial-scale="1")
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    script(src="/public/scripts/dropdownMenuToggle.js")
      
  body
    div#root.d-flex-c

      block navbar
        div#navbarWrapper.navbar_color.d-flex-r
          div#tickerSearchBar.navbarSection
              //- add action ect
              form#navbarSearchForm(action="/search/ticker", method="GET")
                div.inputGroup.d-flex-r
                  input#tickerSearchInput.formControl(type="search", placeholder="search ticker", name="tickerSearchInput")
                  div.inputGroupAppend.d-flex-r
                    button#searchButton Go

          ul#mainNavbar.navbarSection.d-flex-r
            each val in navbarItemsFix ? navbarItemsFix : []
              +navbarItem(val.id, val.href, val.text)

            if (!isAuthenticated)
              each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                +navbarItem(val.id, val.href, val.text)

            else if (isAuthenticated)
              each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                +navbarItem(val.id, val.href, val.text)
          
          div#dropdownNav.navbarSection
            
            
            
            button.dropdownNavToggle.inputGroup(onclick="toggleMenu()")
              svg#hamburger_all(width="1.2rem", height="1rem", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                rect.hamburgerMenu.hamburger_top(x="10%" y="20%" width="80%" height="5%")
                rect.hamburgerMenu.hamburger_mid(x="10%" y="50%" width="80%" height="5%")
                rect.hamburgerMenu.hamburger_bot(x="10%" y="80%" width="80%" height="5%")
            
            
            ul#dropdownMedium.dropdownItems.d-flex-c.navbar_color.hidden
              each val in navbarItemsFix ? navbarItemsFix : []
                +dropdownItem(val.id, val.href, val.text)
              if (!isAuthenticated)
                each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
                  +dropdownItem(val.id, val.href, val.text)
              else if (isAuthenticated)
                each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
                  +dropdownItem(val.id, val.href, val.text)

    block content

    block footer

    script(src="/public/scripts/styleSearchBar.js")


  

