//- design the page to feed CRUD ticker data into and generate charts, cards ect.
extends layout 

mixin filingTableRow(form, link, desc, filedOn)
    a.filingTableRow(href=link).cur-p
        div.filingTableItem.filingFormType #{form}
        div.filingTableItem.filingDescription #{desc}
        div.filingTableItem.filingFiledOn #{filedOn}

block content 
    //- must inlcude: ticker, company_name, sector, industry, mktcap, float
    //- could include: company_description
    -let company = company_info //thead = "ticker header" object
    -let filingsObject = filings // obj of {category: [filings]} for secFilingTables
    -let cashInfo = cash_info

    script(src="/public/scripts/switchTabs.js")
    
    
    div#headerContainer.ml-1.mr-1.w-100
        .d-flex-r  
            h5#tickerHeader.ticker.mt-2.mb-1  #{company.symbol}
        .d-flex-r 
            h2#companyNameHeader.companyName.mt-1.mb-1 #{company.name}
        .f-flex-r
            .d-flex-c
                #sicInfo.mr-2
                    div.d-inline-block.mr-2
                        span.mr-1.opacity-8 Sector:
                        span #{company.sector}
                    div.d-inline-block
                        span.mr-1.opacity-8 Industry:
                        span #{company.industry}
                //- #sharesInfo.mt-2.mr-2
                //-     div.d-inline-block.mr-2
                //-         span.mr-1.opacity-8 Mkt Cap: 
                //-         span #{company.mktcap}
                //-     div.d-inline-block.mr-2
                //-         span.mr-1.opacity-8 Float:
                //-         span #{company.float}
                #companyDescription.mt-1.mr-2
                    div.opacity-8.ch80 #{company.description}
        .tabContainer.d-flex-r.mt-3.max-w-95vw.hide-scrollbar
            .selectionTab.cur-p.activeSelectionTab(onClick="openTab(event, 'dilution')") Dilution
            .selectionTab.cur-p(onClick="openTab(event, 'filings')") Filings 
        
        //- maybe include the tabs as separat pug files
        //- on certain conditions so i can first load a dummy site
        //- until all the data is ready, if this gives improved
        //- user experience

        //- script document.getElementById("").click();

        #dilution.tabContent.activeTab
            //- file locally for offline use
            script(src="/public/js_for_offline/chart.js")
            //- script(src="https://cdn.jsdelivr.net/npm/chart.js")
            .d-flex-c.ml-1.mr-1
                span.chartTitle.mr-2.ml-1.mt-2.cur-d Outstanding Common Shares (+ add potential dilution)
                canvas#outstandingSharesChart.canvasChart.ml-1.mr-2.mt-1.mb-3
            .d-flex-c.mt-1.ml-1.mr-1
                if (cashInfo)
                    span.chartTitle.mr-2.ml-1.cur-d Net cash and equivalents (current)
                    span.chartDescription.mr-2.ml-1.mt-1.mb-1.cur-d Company has #{cashInfo["brokeIn"]} Months of cash left. Estimated cash left: #{cashInfo["cashEstimate"]} 
                else
                    span.chartTitle.mr-2.ml-1.cur-d Net cash and equivalents (current)
                    span.chartDescription.mr-2.ml-1.mt-1.mb-1.cur-d information on how many months of cash left is missing for this company
                canvas#cashPositionChart.canvasChart.ml-1.mr-2.mt-1.mb-3
            - let cfgOS = OSChartConfig
            - let cfgCP = CashPosConfig
            script.
                let ctxOS = document.getElementById('outstandingSharesChart')
                let chartOS = new Chart(ctxOS, !{JSON.stringify(cfgOS)})

                let ctxCP = document.getElementById("cashPositionChart")
                let chartCP = new Chart(ctxCP, !{JSON.stringify(CashPosConfig)})

            .d-flex-c


            //- script(src="/public/scripts/exampleChart.js")
            
        #filings.tabContent.inactiveTab
            #filingTablesWrapper.max-w-95vw
                each key in Object.keys(filingsObject)
                    - let numRows = 0

                        div.filingTableWrapper
                            div.filingTableTitle #{key}
                            div.filingTableBodyWrapper
                            
                                .filingTableHeaderRow
                                    .filingHeaderItem Form 
                                    .filingHeaderItem Description
                                    .filingHeaderItem Filing Date
                                each filing in filingsObject[key]
                                        if numRows > 10
                                            - break
                                        else
                                            +filingTableRow(filing[0], filing[1], filing[2], filing[3])
                                            - numRows = numRows + 1
    
    script(src="/public/scripts/filingDescriptionTooltip.js")
            //- create dict with {category: [{individual_filing},...]}
            //- mixin panel with max items
    
        
            
                



        
