//- design the page to feed CRUD ticker data into and generate charts, cards ect.
extends layout 

block content 
    //- must inlcude: ticker, company_name, sector, industry, mktcap, float
    //- could include: company_description
    -let company = company_info //thead = "ticker header" object
    div#headerContainer.ml-1.mr-1.w-100
        .d-flex-r  
            h5#tickerHeader.ticker.mt-2.mb-1  #{company.ticker}
        .d-flex-r 
            h2#companyNameHeader.companyName.mt-1.mb-1 #{company.name}
        .f-flex-r
            .d-flex-c
                #sicInfo.mr-2
                    div.d-inline-block.mr-2
                        span.mr-1.opacity-8 Sector:
                        span #{company.sector}
                    div.d-inline-block
                        span.mr-1.opacity-8 Industry:
                        span #{company.industry}
                #sharesInfo.mt-2.mr-2
                    div.d-inline-block.mr-2
                        span.mr-1.opacity-8 Mkt Cap: 
                        span #{company.mktcap}
                    div.d-inline-block.mr-2
                        span.mr-1.opacity-8 Float:
                        span #{company.float}
                #companyDescription.mt-1.mr-2
                    div.opacity-8.ch80 #{company.description}
                



        
